*{
    box-sizing: border-box;
    
   

}
body{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
  
    

}

.box1{
 
    background-color: red;
    width: 80px;
    height: 80px;
    position: relative;

 

}
.box2{
    background-color: green;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;



    
}
.box3{
    background-color: dimgrey;
    width: 80px;
    height: 80px;
    position: absolute;
    right: calc(50% - 25px);
    top: calc(40% - 10px);
 
  
   
}
.box4{
    background-color: blue;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 208px;
    left: 10px;
    
 

}
.box5{
    background-color: purple;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 208px;
    left: 326px;
    
    
}