.box{
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    position: absolute;
    width: 150px;
    height: 150px;
}

body{
    position: relative;
    
}

.div1{
    z-index: 6;
}

.div2{
    left: 80px;
    top:100px;
}


.div3{
    top: 200px;
    width: 400px;
}

.div4{
    left: 280px;
    height: 400px;
}